<div class="sidebar">
	<h1>Květná zahrada</h1>
	
	<div class="nav-bar">
    <a href="#/mapa-zahrady" class="button"><span class="azz-map"></span></a>
	<a href="#/informace" class="button back"><span class="azz-back"></span></a>
        
	</div>
</div>

	<div class="content detail inf">
		<div class="controls">
			<a ng-if="prevInfo.id" href="#/informace/{{prevInfo.id}}">{{prevInfo.name}}</a>
			<a ng-if="nextInfo.id"  href="#/informace/{{nextInfo.id}}">{{nextInfo.name}}</a>
		</div>
<ion-content>
<h2>Slovníček</h2>
		
		<div class="item" ng-repeat="item in dictionary">
			<div class="image">
				<img src="{{item.image[0]}}" />
			</div>
			<div class="text">
				<h2>{{item.name}}</h2>
				<p ng-repeat="p in item.body">{{p}}</p>
			</div>
		</div>

</ion-content>
</div>