<ion-content class="homepage">
	<div class="content home">
		<h1>{{homepage.name}}</h1>
		<div class="welcome-text">
			<p>{{homepage.body.join('\n')}}</p>
		</div>

		<div class="main-menu-container">
			<span class="link map">
				<a href="#/mapa-zahrady"><span class="azz-map"></span><!--Mapa--></a>
			</span>
			
			<span class="link sights">
				<a href="#/pamatky"><span class="azz-objects"></span><!--Památky--></a>
			</span>
			
			<span class="link info ">
				<a href="#/informace"><span class="azz-info"></span><!--Informace--></a>
			</span>
		</div>
        
	</div>
</ion-content>
