<ion-content class="ngfx-fade-in">
	<div class="sidebar">
		<h1>Květná zahrada</h1>
		
		<div class="nav-bar">
			<a href="#/" class="button back">Úvod</a>
			<a href="#/pamatky" class="button back">Zpět</a>
		</div>
	</div>

	<div class="content">
		<ion-list>
			<div ng-repeat="group in groups">
				<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
					{{ group.name }}
				</ion-item>
				<div class="item-accordion" ng-show="isGroupShown(group)">
					<p ng-repeat="p in group.body">{{p}}</p>
				</div>
			</div>
		</ion-list>
		
		<a href"#" class="ngfx-slide-in-down">fade in</a>
	</div>
</ion-content>