<div class="sidebar">
	<h1>Květná zahrada</h1>
	
	<div class="nav-bar">
		<a href="#/" class="button back">Úvod</a>
		<a href="#/pamatky" class="button back">Zpět</a>
	</div>
</div>

<ion-content>
	<div class="content">
		<ion-list>
			<div ng-repeat="group in groups">
				<ion-item class="item-stable" ng-click="toggleGroup(group)" ng-class="{active: isGroupShown(group)}">
					{{ group.name }}
				</ion-item>
				<div class="item-accordion" ng-show="isGroupShown(group)">
					<p ng-repeat="p in group.body">{{p}}</p>
				</div>
			</div>
		</ion-list>
	</div>
</ion-content>