<div class="sidebar">
	<h1>Květná zahrada</h1>
	
	<div class="nav-bar">
    <a href="#/mapa-zahrady" class="button"><span class="azz-map"></span></a>
	<a href="#/informace" class="button back"><span class="azz-back"></span></a>
        
	</div>
</div>

<div class="content detail inf">
	<ion-content>
		<h2>{{info.name}}</h2>
		
		<div class="media" ng-if="info.images">
            <a ng-click="showModal('info')"><span class="azz-photo"></span></a>
        </div>
		
		<div class="text">
			<p ng-repeat="paragraph in info.body">{{paragraph}}</p>
		</div>
		
		<div class="logos" ng-if="info.logos">
			<img ng-repeat="logo in info.logos" ng-src="{{logo}}" />
		</div>
	</ion-content>
</div>