<div class="sidebar">
    <h1>Květná zahrada</h1>
   
    <div class="nav-bar">
        <a href="#/" class="button"><span class="azz-map"></span></a>
        <a href="#/pamatky" class="button back"><span class="azz-back"></span></a>
    </div>
</div>
<div class="content detail">
<div class="controls">
            <a href="#/pamatky/{{prevSight.id}}" ng-if="prevSight.id" class="left"><span class="azz-left"></span>{{prevSight.name}}</a>
            <a href="#/pamatky/{{nextSight.id}}" ng-if="nextSight.id" class="right">{{nextSight.name}}<span class="azz-right"></span></a>
        </div>
<ion-content>
        <div class="section-image">
            <img ng-src="{{sight.sectionImage}}" />
        </div>
       
        <h2>{{sight.name}}</h2>
       
        <div class="media">
            <a href="#"><span class="azz-photo"></span></a>
            <a href="#"><span class="azz-play"></span></a>
        </div>
       
        <div class="text">
            <p ng-repeat="paragraph in sight.body">{{paragraph}}</p>
        </div>

</ion-content>
</div>