/* Empty. Add your own CSS if you like */

body { 
	font-size: 16px; 
}

h1 { 
	color: #2b903e; 
}

p { 
	color: #657368; 
	font-size: 1em; 
	line-height: 1.8; 
	text-align: center; 
}

.pane { 
	padding: 3em; 
	background: #dee4df url(../img/common.jpg) no-repeat left top; 
	background-size: cover; 
}

.pane.homepage { 
	background: #dee4df url(../img/homepage.jpg) no-repeat left top;
}

.pane.homepage h1 { 
	font-size: 6em; 
	text-align: center; 
}

.welcome-text { 
	margin: 0 auto; 
	width: 50%; 
}

.scroll { 
	height: 100%; 
}

.main-menu-container { 
	overflow: hidden; 
	position: absolute; 
	left: 0; 
	bottom: 3em; 
	width: 100%; 
	text-align: center; 
}

.main-menu-container .link { 
	display: inline-block; 
	margin: 0 0 0 10%; 
	width: 128px; 
	height: 128px; 
	background-color: #f7f7f7; border-radius: 50%; 
}

.main-menu-container .link:first-child {
	margin-left: 0;
}

.main-menu-container .link a {
	display: block;
}
