/* GLOBAL */

body { 
font-size: 100%; 
background:#ebebeb;
text-align:center;
}

h1 { 
color: #278639; 
}

p { 
color: #333; 
font-size: 1em; 
line-height: 1.8; 
}
 
.scroll { 
	height: 100%; 
}

.content.home { 
	padding: 50px;
	margin:0;
	min-height: 100%; 
}


/* HOMEPAGE */

.pane.homepage { 
background: #ebebeb url(../img/home-backg.gif) no-repeat left top;
}

.pane.homepage h1 { 
font-size: 92px; 
margin-top:20px;
}

.homepage .content { width: 100%; background-color: transparent; }

.welcome-text { 
	margin: 0 auto; 
	width: 50%; 
}

.main-menu-container { 
	width: 90%; 
	margin:auto;
	margin-top:200px;
}
.main-menu-container .link { 
	display: inline-block; 
	margin: 0 0 0 20%; 
}

.main-menu-container .link:first-child {
	margin-left: 0;
}

.main-menu-container .link a {
	display: block;
	width: 184px;
	height: 184px;
	background-color: #fff; 
	background-position: center center;
	background-repeat: no-repeat;
	text-indent:-9999px;
	text-decoration:none;
	border-radius: 50%; 
}

.main-menu-container .link a span {
display:block;
	width: 184px;
	height: 184px;
	line-height:175px;
	text-indent:0;
	text-decoration:none;
	font-size:120px;
	color:#278639;
}

.main-menu-container .link a:focus {
	background-color: #278639; 
}

.main-menu-container .link a:focus span {
	color:#fff;
}


/* SIDEBAR */
.sidebar {
	height: 100%; 
	width:300px; 
	position: fixed !important;
	padding:50px;
	top:0;
	left:0;
	text-align:left;
	z-index:10000000
}
.sidebar h1 { color:#798a7d; font-size:48px}

.sidebar .nav-bar { position:absolute; bottom:50px}

.nav-bar .button { width:90px; height:90px; background-color:#fff; border-radius:50%; line-height:95px; text-align:center; border:none; color:#278639; font-size:58px; margin:20px 23% 0;}

.nav-bar .button.back { font-size:42px}
.nav-bar .azz-objects { font-size:58px; line-height:85px;}


/* MENU OBJEKTU */
.content { 
	width:930px;
	float:right;
	margin:50px 50px 50px 0;
	min-height: 100%; 
}


.list .item { width:25%; background-color:#fff; border-radius:8px; height:235px;
 border:none; float:left; border:1px solid rgba(0,0,0,0.1)}

.list .item:nth-child(2), .list .item:nth-child(4), 
.list .item:nth-child(5), .list .item:nth-child(7), 
.list .item:nth-child(10), .list .item:nth-child(12),
.list .item:nth-child(13), .list .item:nth-child(15),
.list .item:nth-child(18), .list .item:nth-child(20) {
    background-color: #fafafa;
}

 
.list .item a { text-decoration:none;  text-align:center; display:block; height:100%; width:100%  }
.list .item a img { border-radius:50%; width:150px; height:150px;     
-webkit-filter: grayscale(0.7);
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  filter: gray;  }
.list .item a span { display:block; color:#333; font-family: 'playfair'; font-weight: normal; font-size:18px; margin-top:15px; letter-spacing:1px}


/* DETAIL OBJEKTU  */

.content.detail { margin:0px; background:#fff; padding:50px; width:980px;}

.content.detail .controls {  z-index:10000; position:absolute; width:880px; margin-top:-23px}
.content.detail .controls  a { position:relative; font-family: 'playfair'; font-weight: normal; font-size:18px; color:#333; text-decoration:none; float:left; background-color: rgba(255,255,255,.75); border-radius:8px; padding:8px  16px 8px 8px; display:block; letter-spacing:1px; line-height:46px;}

.content.detail .controls  a span { font-size:48px; display:block; float:left; color:#278639; padding:0px 10px 0px 0px}
.content.detail .controls  a.right { float:right}
.content.detail .controls  a.right span { padding:0px 0px 0px 10px; float:right}

.content.detail img { border-radius: 50%; width:250px; height:250px; margin:auto; margin-top:50px; margin-bottom:20px;}
.content.detail  h2 { font-size:48px; color:#333}

.content.detail .media a { text-decoration:none; height:80px; width:80px; display:block; line-height:85px; background-color:#278639; border-radius:50%; color:#fff; font-size:52px; display:inline-block; margin:30px 10px}

.content.detail .media a:last-child { text-indent:5px}
.content.detail .text { max-width:640px; color:#ccc; margin:auto; font-size:20px; text-align:left; padding-bottom:80px; line-height:32px} 

.active .modal-backdrop-bg { opacity: .85; }
.modal { padding: 10%; left: 0; top: 0; width: 100%; height: 100%; background-color: transparent; }
.modal * { color: #fff; }
.modal .caption { position: absolute; left: 0; bottom: 0; padding: 16px; width: 100%; background-color: rgba(0,0,0,.5); text-align: center; }
.modal .video-player { width: 100%; }
.modal .slider { width: 100%; height: 100%; }
.modal .slider-slide img { width: auto; height: 100%; }
.close-modal { color: #fff; cursor: pointer; position: absolute; right: 50px; top: 50px; }

.pane {
	background: #dee4df url(../img/main-backg.gif) no-repeat left top; 
	background-size: cover; 
}

/* MAPA */
.content.map { 
	width:930px;
	float:right;
	min-height:inherit;
	margin:50px 50px 50px 0;
	padding:25px 50px;
	background-color:#fff;
	border-radius:8px;
	height:700px;
	background:#fff url(../img/mapa-kvetna.gif) no-repeat center center;
}
.content.map .list .item  { float:inherit; width:auto; height:auto; background:none; border:none; position:absolute; overflow:visible}

.content.map .list .item:nth-child(1){ left:490px; top:525px; z-index:120}
.content.map .list .item:nth-child(2){ left:490px; top:430px; z-index:116}
.content.map .list .item:nth-child(3){ left:575px; top:430px; z-index:115}
.content.map .list .item:nth-child(4){ left:725px; top:430px; z-index:114}
.content.map .list .item:nth-child(5){ left:650px; top:485px; z-index:117}
.content.map .list .item:nth-child(6){ left:770px; top:210px; z-index:100}
.content.map .list .item:nth-child(7){ left:685px; top:210px; z-index:109}
.content.map .list .item:nth-child(8){ left:630px; top:332px; z-index:110}
.content.map .list .item:nth-child(9){ left:650px; top:90px; z-index:100}
.content.map .list .item:nth-child(10){ left:585px; top:210px; z-index:100}
.content.map .list .item:nth-child(11){ left:415px; top:260px; z-index:111}
.content.map .list .item:nth-child(12){ left:415px; top:360px; z-index:112}
.content.map .list .item:nth-child(13){ left:355px; top:165px; z-index:100}
.content.map .list .item:nth-child(14){ left:240px; top:305px; z-index:113}
.content.map .list .item:nth-child(15){ left:115px; top:120px; z-index:100}
.content.map .list .item:nth-child(16){ left:190px; top:215px; z-index:100}
.content.map .list .item:nth-child(17){ left:40px; top:490px; z-index:100}
.content.map .list .item:nth-child(18){ left:180px; top:500px; z-index:100}
.content.map .list .item:nth-child(19){ left:315px; top:470px; z-index:118}
.content.map .list .item:nth-child(20){ left:420px; top:470px; z-index:119}


.content.map .list .item .point{  width:50px; height:50px; border-radius:50%; line-height:45px; text-align:center; background-color:#278639; color:#FFF;  font-family: 'playfair'; font-size:32px;  }

.content.map .list .item .point a  { display:none; width:160px; height:160px; border-radius:50%; background-color:#f7f7f7; color:#333; font-family: 'playfair'; font-size:21px; line-height:normal;  text-align:center; padding:10px; padding-top:45px; position:absolute;  top:-138px; left:-39px; white-space:normal }
.content.map .list .item .point:hover a, .content.map .list .item .point:focus  { display:block; }

.content.map .list .item .point a span { display:block; color:#278639; font-family: 'azz-app'; font-size:58px; position:absolute; left:50px; top:75px  }

.content.map .list .item .point a i { display:block; width:20px; height:20px; background-color:#f7f7f7; position:absolute; bottom:0px; left:72px;     transform: rotate(45deg);
    transform-origin: 20% 40%;}


/* INFO */
.content.info { 
	width:930px;
	float:right;
	min-height:inherit;
	margin:50px 50px 50px 0;
	padding:25px 50px;
	background-color:#fff;
	border-radius:8px;
	height:700px
}

.content.info a { height:14.28%; width:100%; display:block; color:#278639; font-size:36px; font-family: 'playfair'; font-weight: normal; text-decoration:none;text-align:left; border-bottom:1px solid #ccc; line-height:90px; }
.content.info a:last-child { border:none}

.content.detail.inf h2, .content.detail.dic h2{ margin:50px 0px }


/* INFO SLOVNICEK */


.content.dic .item { margin:20px 50px; border:none; border-bottom:1px solid #ccc;}
.content.dic .item:last-child { border:none}
.content.dic .item .image { float:left; max-width:40%; padding-right:25px }
.content.dic .item .text { float:left; max-width:60%; padding-left:25px }

.content.dic .item h3 { font-size:32px; margin-top:50px; color:#278639}



/* ANIMACE PRECHODU */
[nav-view-transition="android"] [nav-view="entering"], [nav-view-transition="android"] [nav-view="leaving"] {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
 /* -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  -webkit-transition-property: -webkit-transform;
  transition-property: transform; */
 }
 
 
 [nav-view-transition="android"] [nav-view="entering"] .content.detail .media a , [nav-view-transition="android"] [nav-view="leaving"] .content.detail .media a  {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: flipInY;
  animation-name: flipInY;
 /* animation-delay:1s;
  -webkit-animation-delay:1s;*/

 }
 
 
 
 
 
[nav-view-transition="android"] [nav-view="active"], [nav-view-transition="android"][nav-view-direction="forward"] [nav-view="entering"], [nav-view-transition="android"][nav-view-direction="back"] [nav-view="leaving"] {
  z-index: 3; }
[nav-view-transition="android"][nav-view-direction="back"] [nav-view="entering"], [nav-view-transition="android"][nav-view-direction="forward"] [nav-view="leaving"] {
  z-index: 2; }

[nav-bar-transition="android"] .title, [nav-bar-transition="android"] .buttons {
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0.6, 0.2, 1);
  -webkit-transition-property: opacity;
  transition-property: opacity; }
[nav-bar-transition="android"] [nav-bar="active"], [nav-bar-transition="android"] [nav-bar="entering"] {
  z-index: 10; }
  [nav-bar-transition="android"] [nav-bar="active"] .bar, [nav-bar-transition="android"] [nav-bar="entering"] .bar {
    background: transparent; }
[nav-bar-transition="android"] [nav-bar="cached"] {
  display: block; }
  [nav-bar-transition="android"] [nav-bar="cached"] .header-item {
    display: none; }

[nav-swipe="fast"] [nav-view], [nav-swipe="fast"] .title, [nav-swipe="fast"] .buttons, [nav-swipe="fast"] .back-text {
  -webkit-transition-duration: 50ms;
  transition-duration: 50ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

[nav-swipe="slow"] [nav-view], [nav-swipe="slow"] .title, [nav-swipe="slow"] .buttons, [nav-swipe="slow"] .back-text {
  -webkit-transition-duration: 160ms;
  transition-duration: 160ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear; }

[nav-view="cached"], [nav-bar="cached"] {
  display: none; }

[nav-view="stage"] {
  opacity: 0;
  -webkit-transition-duration: 0;
  transition-duration: 0; }

[nav-bar="stage"] .title, [nav-bar="stage"] .buttons, [nav-bar="stage"] .back-text {
  position: absolute;
  opacity: 0;
  -webkit-transition-duration: 0s;
  transition-duration: 0s; }
